img{
    width: 100vw;
    height:70vh ;
}
.home{
    position: relative;
    text-align: center;
    
}
.text{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-family: 'fantasy';
    color: aliceblue;
    font-weight: 900;
}
p{
    font-size: 30px;
    font-family: 'oswald';
    font-weight: 500;
}
.btn{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
ul{
    display: flex;
    gap:30px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 50%;
    
}
.img{
    width:50vw;
    height:30vh;
}

.blog{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    height: 600px;
    width:50vw;
    box-shadow: 5px 5px 10px rgb(226, 197, 92);
}